<!DOCTYPE html>
<html lang="en" ng-app="tfc_JSTest">
  <head>

    <title>Tfc-JsTest</title>

    <script type="text/javascript" src="/client/js/prod/tfc-client-app.min.js"></script>
    <!-- Mobile viewport-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>
  <body>
    <nav class="navbar navbar-inverse" style="border-radius: 0px;">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brsuand" href="#">
            <img alt="Brand" src="/client/logo/34cross_header_logo.svg" style="height:100%;">
          </a>
        </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <!-- input for desktop-->
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 fixed-input input-floater">
          <div data-name="input-form" id="input-data-form" ng-controller="interfaceCtrl">
            <div class="input-group">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Operation<span class="caret"></span></button>
                <ul class="dropdown-menu-2">
                  <li><a ng-click="hash()">Hash</a></li>
                  <li><a ng-click="counter()">Counter</a></li>
                  <li><a ng-click="globalCounter()">Global Counter</a></li>
                </ul>
              </div>
              <input id="value-box" data-name="value-box" name="value-box" type="text" class="form-control" aria-label="Input" placeholder="Enter a valid input">
            </div>
          </div>
        </div>
        <!-- Display of the content-->
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" ng-controller="viewerCtrl">
          <input id="scrollUpdate" type="hidden" style="display:none;" value="Scroll Update" ng-click="scrollUpdate()">
          <div class="div-border" ng-repeat="message in messages | limitTo : displayLimit" ng-animate=" 'animate' " >
            <table class="table table-data-wrap">
              <caption>{{message.operation}} #{{message.request_count}}</caption>
              <tr>
                <th>Input</th>
                <th ng-repeat="op in message.type">{{op}}</th>
              </tr>
              <tr>
                <td>{{message.input}}</td>
                <td ng-repeat="op in message.type">{{message[op]}}</td>
              </tr>
            </table>
            <br/>
          </div>
        </div>
        <!--Hidder for mobile-->
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5 hidden-md hidden-lg">
          <br/><br/><br/><br/>
        </div>
      </div>
    </div>
  </body>
</html>
