
.input-floater{
  background-color: rgba(255, 255, 255, 1);
  z-index: 999;
  padding: 10px;
}

.table-data-wrap{
  table-layout: fixed;
  word-wrap: break-word;
}

.table-data-wrap th{
  font-weight: bold;
  text-transform: uppercase;
}

.table-data-wrap td{
  word-wrap: break-word;
}

.table-data-wrap > caption{
  text-transform: capitalize;
}

.div-border{
  border-radius: 10px;
  border-color: rgba(200, 200, 200, 0.25);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .175);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .175);
  border-width: 1px;
  border-style: solid;
  padding: 7px;
  margin-bottom: 10px;
}

@media (max-width: 767px) {
  .fixed-input{
    position: fixed;
    bottom: 0%;
    left : 0%;
    -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, .175);
            box-shadow: 0 -2px 2px rgba(0, 0, 0, .175);
  }

  .dropdown-menu-2 {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  .open > .dropdown-menu-2 {
    display: block;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .fixed-input{
    position: fixed;
    bottom: 0%;
    left : 0px;
  }

  .dropdown-menu-2 {
    position: absolute;
    bottom: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }

  .open > .dropdown-menu-2 {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .dropdown-menu-2 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  .open > .dropdown-menu-2 {
    display: block;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu-2 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
            background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
            box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  }
  .open > .dropdown-menu-2 {
    display: block;
  }
}

.dropdown-menu-2.pull-right {
  right: 0;
  left: auto;
}
.dropdown-menu-2 .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #e5e5e5;
}
.dropdown-menu-2 > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}
.dropdown-menu-2 > li > a:hover,
.dropdown-menu-2 > li > a:focus {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}
.dropdown-menu-2 > .active > a,
.dropdown-menu-2 > .active > a:hover,
.dropdown-menu-2 > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color: #337ab7;
  outline: 0;
}
.dropdown-menu-2 > .disabled > a,
.dropdown-menu-2 > .disabled > a:hover,
.dropdown-menu-2 > .disabled > a:focus {
  color: #777;
}
.dropdown-menu-2 > .disabled > a:hover,
.dropdown-menu-2 > .disabled > a:focus {
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
